<div class="estadisticas-contenedor">
    <div 
      v-for="stat in estadisticasFormateadas" 
      :key="stat.nombre"
      class="estadistica-item"
    >
      <div class="estadistica-info">
        <span class="estadistica-nombre">{{ stat.nombre }}</span>
        <span class="estadistica-valor">{{ stat.valor }}</span>
      </div>
      <div class="barra-contenedor">
        <div 
          class="barra-progreso"
          :style="{ width: `${stat.porcentaje}%` }"
          :class="obtenerClaseColor(stat.valor)"
        ></div>
      </div>
    </div>
  </div>